{% extends 'base.html'%}
{% load bootstrap4%}
{% load static%}
{% block content%}
<div class="container-fluid">

    <h2>Covid-19 Countries</h2>
    <hr>
    <ul>
        <!-- {% for request in countries %}
            <li>{{request.Country}} - {{request.Slug}}</li>
            {% endfor %} -->
    </ul>
    <h2>Covid-19 Summary</h2>
    <hr>
    <h3>Global summary <span>{{results.Date | date  }}</span></h3>

    
    <div class="row">
        <div class="card col m-2">
            <div class="card-body">
                <h5 class="card-title">{{results.NewConfirmed}}</h5>
                <p class="card-text">New Confirmed cases</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card col m-2">
            <div class="card-body">
                <h5 class="card-title">{{results.TotalConfirmed}}</h5>
                <p class="card-text">TotalConfirmed</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card col m-2">
            <div class="card-body">
                <h5 class="card-title">{{results.NewDeaths}}</h5>
                <p class="card-text">NewDeaths</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card col m-2">
            <div class="card-body">
                <h5 class="card-title">{{results.TotalDeaths}}</h5>
                <p class="card-text">TotalDeaths</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div> 
        <div class="card col m-2">
            <div class="card-body">
                <h5 class="card-title">{{results.NewRecovered}}</h5>
                <p class="card-text">NewRecovered</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card col m-2">
            <div class="card-body">
                <h5 class="card-title">{{results.TotalRecovered}}</h5>
                <p class="card-text">TotalRecovered </p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
    </div>


    <h2>Covid-19 Routes Response</h2>
    <hr>
    <ul>
        {% for response in response %}
        <li>{{response.countriesRoute}}</li>
        {% endfor %}
    </ul>
</div>




{% endblock %}