<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="conatiner-fluid">
        <h2>Covid-19 Countries</h2>
        <hr>
        <!-- <ul>
            {% for request in countries %}
            <li>{{request.Country}} - {{request.Slug}}</li>
            {% endfor %}
        </ul> -->
    </div>
    <h2>Sports odds</h2>
    <hr>
    <ul>
        {% for data in data %}
        <li>{{data.key}}</li>
        {% endfor %}
    </ul>



</body>

</html>